%p This is a writing task

= form_tag(url: plc_enrollment_task_assignment_path(@enrollment_task_assignment)) do
  %p
    %strong Assignment description:
    = @enrollment_task_assignment.plc_task.assignment_description
  %p Writing

  = text_area_tag :stuff

  %p In a better world, there would be markdown

  %p
    = submit_tag 'Submit evaluation'


