%p This is a Written Assignment task

%p
  %strong Assignment Description
%p
  = @task.assignment_description

%p
  %strong Review criteria

%p
  Number of peer reviews - #{@task.number_peer_reviews_needed}